<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcels Detail List</title>
</head>

<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Height</th>
            <th>Width</th>
            <th>Depth</th>
            <th>Weight</th>
            <th>Check in Date</th>
            <th>Delivery Attempts</th>
            <th>Priority</th>
        </thead>

        <%
                parcels.forEach(parcel => {
                    %>
                    <tr>
                        <td><%= parcel.id %></td>
                        <td><%= parcel.height %></td>
                        <td><%= parcel.width %></td>
                        <td><%= parcel.depth %></td>
                        <td><%= parcel.weight %></td>
                        <td><%= parcel.checkInDate %></td>
                        <td><%= parcel.deliveryAttempts %></td>
                        <td><%= parcel.priority %></td>
                    </tr>
        <% }) %>

    </table>
</body>
</html>