<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parcels Detail List</title>
</head>

<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Peso</th>
            <th>Dimensioni</th>
            <th>Arrivo in deposito</th>
            <th>Tentativi di consegna</th>
            <th>Priorità</th>
        </thead>

        <%
                parcels.forEach(parcel => {
                    %>
                    <tr>
                        <td><%= parcel.id %></td>
                        <td><%= parcel.weight %></td>
                        <td><%= parcel.height %> x <%= parcel.width %> x <%= parcel.depth %> cm</td>
                        <td><%= parcel.checkInDate %></td>
                        <td><%= parcel.deliveryAttempts %></td>
                        <td><%= parcel.priority %></td>
                    </tr>
        <% }) %>

    </table>
</body>
</html>